<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ventas</title>
<link rel="stylesheet" th:href="@{/styles/estilosListados.css}">
<script th:src="@{/}"></script>
</head>
<body>
	<h1>Listado de ventas</h1>

		<table  id="tablaVenta">
				<thead>
					<tr>
						<th>id venta</th>
						<th>id cliente</th>
						<th>id Usuario</th>
						<th>productos</th>
						<th>cantidades</th>
						<th>precio total</th>
						<th>fecha venta</th>
						<th>hora venta</th>
						<th>Comentarios</th>
						<th>Acciones</th>
					</tr>
				</thead>
				
				 <tbody>
					<tr th:each="venta : ${listVenta}">
						<td th:text="${venta.idVenta}"></td>
						<td th:text="${venta.idCliente.idCliente}"></td>
						<td th:text="${venta.idUsuario.idUsuario}"></td>
						
						<td ><li th:each="producto :${venta.producto}" th:text="${producto.nombreProducto}" ></li></td>
						<td ><li th:each="cantidades :${venta.cantidades}" th:text="${cantidades}" ></li></td>
						
						<td th:text="${venta.precioTotal}"></td>
						<td th:text="${venta.fechaVenta}"></td>
						<td th:text="${venta.horaVenta}"></td>
						<td th:text="${venta.observacion}"></td>
						<td> 
							<a th:href="@{/venta/{id}/delete(id=${venta.idVenta})}" class="delete">Delete</a>
						 </td>
							
					</tr>
					
				</tbody>
			</table>
			<footer>
        <h3>Foolish Developer</h3>
        <p>The "Sugar Cafe" is a trade association built on foundations of openness,
            inclusivity, and the power of shared knowledge. 
        </p>
        <p>copyright &copy;2021 Coffee Sugar Bogota  </p>
    </footer>
</body>
</html>