<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles/estilosVentas.css">

<title>Ventas</title>
</head>

<body onload="easyTabs()">
	<header>
		<div class="logo">
		  <a href="/index"><img th:src="@{/images/logo.jpg}" alt="Logo de la empresa"></a>
		</div>
		<h1> Venta </h1>
		<nav>
		  <ul>
			<li><a href="/index">Inicio</a></li>
			<li><a href="/venta">Venta</a></li>
			<li><a href="/listCliente">Cliente</a></li>
			<li><a href="/closeSession" id="botonSalir">Salir</a></li>
		  </ul>
		</nav>
	  </header>

		<div id="wrapper">
			<div id="erasetab" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img src="./images/basura.png" id="bote">
		</div>

		<p id="nomempl" >Hola, <span th:text="${nombreUsuario}"></span></p>
		<input type="hidden" id="idUsuario" th:value="${idUsuario != null} ? ${idUsuario}:'-1'" >
		<menu>

			<span id="fecha">
				<div id="dia" ></div>
				<div id="hora" ></div>
			</span>

			<nav>
				<div class="t-container">
					<ul class="t-tabs" onchange="" id="ulmain">
						<li class="t-tab selected" id="tab1" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)" index="1">Venta 1</li>
						<li class="t-tab" id="tab2" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)" index="2">Venta 2</li>
						<li class="t-tab" id="tab3" draggable="true" ondragstart="drag(event)" ondragend="dragEnd(event)" index="3">Venta 3</li>
						<li class="t-tab" draggable="false" onclick="newtab()" id="last">...</li>
					</ul>
				</div>
			</nav>
		</menu>

		<section class="sec" id="forms">
		<!-- /////////////////////////////////////////////  FORMULARIO  1  //////////////////////////////////////////////////////////////////// -->
			<form class="t-form selected" id="form1" index="1" method="post" th:action="@{/venta}" th:object="${venta}">
				<div id="inform">
					
					<input type="hidden" name="idVenta"  id="idVenta" required>
					<input type="hidden" name="idUsuario" th:value="${idUsuario != null} ? ${idUsuario}:'-1'" required> 
					<input type="hidden" id="diaE" name="fechaVenta"  th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'yyyy-MM-dd')}">
					<input type="hidden" id="horaE" name="horaVenta" th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'HH:mm:ss')}">
					
					<label >Seleccione el cliente:</label>  
	           		<select  class="form-control" th:object="${cliente}" name="idCliente">
	           			<option disable >
						<option th:each="cliente: ${listCliente}" th:value="${cliente.idCliente}" th:text="${cliente.nombreCliente}" />
					</select>
					
					<div id="drinkContent">
						<div id="drinks">
							Escoge las bebidas: 
							<select id="drinkList1" onchange="enlistar('drinkList1','#drinktable1',1,'listnameB','listPrecioB','listidB')"  >
								<option value=""></option>
								<option th:each="producto: ${listProdrink}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>

							<ul  id="listidB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.idProducto}" ></li>
							</ul>
							<ul  id="listnameB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.precioProducto}"></li>
							</ul>

						</div>

						<table id="drinktable1" ></table>

						

					</div>
					<div>
						<div id="snacks">
							Escoge los Snacks: 
							<select id="snacklist1" onchange="enlistar('snacklist1','#tablesnack1',1,'listnameS','listPrecioS','listidS')" th:object="${producto}" >
								<option value=""></option>
								<option th:each="producto: ${listProsnack}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>

							<ul  id="listidS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.idProducto}" ></li>
							</ul>
							<ul  id="listnameS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.precioProducto}"></li>
							</ul>
						</div>

						<table id="tablesnack1" ></table>

					</div>
					<div><textarea name="observacion"></textarea></div>

					<div id="botones">						
							<button type="button" id="borrar1" onclick="eraselast()">Borrar</button>
							<button type="button" id="erase1" onclick="eraseall('drinktable1','tablesnack1')">Borrar todo</button>
						<div id="idto">
							<button type="button" id="total1" onclick="totales('.precio1','latotal1')">Total</button>
							<input contenteditable="false" id="latotal1" name="precioTotal" required> </label>	
						</div>				
							<button type="submit" id="subir1" onclick="submitOrder(event,'form1','drinktable1','tablesnack1')">Guardar</button>					
					</div>
				</div>
			</form>

<!-- ------------------------------------------------------- CAMBIO DE FORMULARIO--------------------------------------------------------->

			<form action="" class="t-form" id="form2" index="2" method="post" th:action="@{/venta}" th:object="${venta}">
				<div id="inform">
				
				<input type="hidden" name="idVenta"  id="idVenta" required>
					<input type="hidden" name="idUsuario" th:value="${idUsuario}"> 
					<input type="hidden" id="diaE" name="fechaVenta"  th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'yyyy-MM-dd')}">
					<input type="hidden" id="horaE" name="horaVenta" th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'HH:mm:ss')}">
				
				<label >Seleccione el cliente:</label>  
	           		<select  class="form-control" th:object="${cliente}" name="idCliente">
	           			<option disable >
						<option th:each="cliente: ${listCliente}" th:value="${cliente.idCliente}" th:text="${cliente.nombreCliente}" />
					</select>
					<div id="drinkContent">
						<div id="drinks">
							Escoge las bebidas: 
							<select id="drinkList2" onchange="enlistar('drinkList2','#drinktable2',2,'listnameB','listPrecioB','listidB')" th:object="${producto}" name="producto">
								<option value=""></option>
								<option th:each="producto: ${listProdrink}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>
							
							<ul  id="listidB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.idProducto}"></li>
							</ul>
							<ul  id="listnameB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.precioProducto}"></li>
							</ul>
					</div>
				</div>

					<table id="drinktable2">

					</table>

					

				</div>

				<div>
					<div id="snacks">					
					Escoge los Snacks: 
							<select id="snacklist2" onchange="enlistar('snacklist2','#tablesnack2',2,'listnameS','listPrecioS','listidS')" th:object="${producto}" name="producto">
								<option value=""></option>
								<option th:each="producto: ${listProsnack}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>
							
							<ul  id="listidS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.idProducto}"></li>
							</ul>
							<ul  id="listnameS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.precioProducto}"></li>
							</ul>
						
					</div>

					<table id="tablesnack2"></table>
					

				</div>

				<div><textarea name="observacion"></textarea></div>
				<div id="botones">
					
						<button type="button" id="borrar2" onclick="erasetab()">Borrar</button>
						<button type="button" id="erase2" onclick="eraseall('drinktable2','tablesnack2')">Borrar todo</button>
					<div id="idto">
						<button type="button" id="total2" onclick="totales('.precio2','latotal2')">Total</button>
						<input  type="number" readonly id="latotal2" name="precioTotal" required> 
					</div>
						<button type="submit" id="subir2" onclick="submitOrder(event,'form2','drinktable2','tablesnack2')">Guardar</button>
				</div>
			</form>

<!-- ------------------------------------------------------- CAMBIO DE FORMULARIO--------------------------------------------------------->

			<form action="" class="t-form" id="form3" index="3" method="post" th:action="@{/venta}" th:object="${venta}">
				<div id="inform">
				
				<input type="hidden" name="idVenta"  id="idVenta" required>
					<input type="hidden" name="idUsuario" th:value="${idUsuario}"> 
					<input type="hidden" id="diaE" name="fechaVenta"  th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'yyyy-MM-dd')}">
					<input type="hidden" id="horaE" name="horaVenta" th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'HH:mm:ss')}">
				
				<label >Seleccione el cliente:</label>  
	           		<select  class="form-control" th:object="${cliente}" name="idCliente">
	           			<option disable >
						<option th:each="cliente: ${listCliente}" th:value="${cliente.idCliente}" th:text="${cliente.nombreCliente}" />
					</select>
					<div id="drinkContent">
						<div id="drinks">
							Escoge las bebidas: 
							<select id="drinkList3" onchange="enlistar('drinkList3','#drinktable3',3,'listnameB','listPrecioB','listidB')" th:object="${producto}" name="producto">
								<option value=""></option>
								<option th:each="producto: ${listProdrink}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>
							<ul  id="listidB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.idProducto}"></li>
							</ul>

							<ul  id="listnameB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.precioProducto}"></li>
							</ul>
						
					</div>
				</div>

					<table id="drinktable3">

					</table>

					

				</div>

				<div>
					<div id="snacks">
						Escoge los Snacks: 
							<select id="snacklist3" onchange="enlistar('snacklist3','#tablesnack3',3,'listnameS','listPrecioS','listidS')" th:object="${producto}" name="producto">
								<option value=""></option>
								<option th:each="producto: ${listProsnack}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>
							<ul  id="listidS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.idProducto}"></li>
							</ul>

							<ul  id="listnameS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.precioProducto}"></li>
							</ul>
						
					</div>	
						<table id="tablesnack3"></table>
						
				</div>
					<div><textarea name="observacion"></textarea></div>
				<div id="botones">
					
					
						<button type="button" id="borrar3" onclick="erasetab()">Borrar</button>
						<button type="button" id="erase3" onclick="eraseall('drinktable3','tablesnack3')">Borrar Todo</button>
					<div id="idto">
						<button type="button" id="total3" onclick="totales('.precio3','latotal3')">Total</button>
						<input  type="number" readonly id="latotal3" name="precioTotal" required> </label>
					</div>
						<button type="submit" id="subir3" onclick="submitOrder(event,'form3','drinktable3','tablesnack3')">Guardar</button>
				</div>
			</form>
			
<!-- ------------------------------------------------------- CAMBIO DE FORMULARIO--------------------------------------------------------->			

			<form action="" id="formulario">
				<div id="inform">
				
				<input type="hidden" name="idVenta"  id="idVenta" required>
					<input type="hidden" name="idUsuario" th:value="${idUsuario}"> 
					<input type="hidden" id="diaE" name="fechaVenta"  th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'yyyy-MM-dd')}">
					<input type="hidden" id="horaE" name="horaVenta" th:value="${#dates.format(#dates.createNowForTimeZone('America/Bogota'), 'HH:mm:ss')}">
				
				<label >Seleccione el cliente:</label>  
	           		<select  class="form-control" th:object="${cliente}" name="idCliente">
	           			<option disable >
						<option th:each="cliente: ${listCliente}" th:value="${cliente.idCliente}" th:text="${cliente.nombreCliente}" />
					</select>
					<div id="drinkContent">
						<div id="drinks">
							Escoge las bebidas: 
							<select id="drinkList" onchange="">
								<option value=""></option>
								<option th:each="producto: ${listProdrink}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
							</select>
							<ul  id="listidB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.idProducto}"></li>
							</ul>
							
							<ul  id="listnameB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioB" style="display: none;">
								<li th:each="producto:${listProdrink}" th:text="${producto.precioProducto}"></li>
							</ul>
							
						</div>
				
					</div>

					<table id="drinktable"></table>

					
					<p id="camino"></p>


				</div>

				<div>
					<div id="snacks">
						Escoge los snacks: 
						<select id="snacklist" onchange="">
							<option value=""></option>
								<option th:each="producto: ${listProsnack}" th:value="${producto.nombreProducto}" th:text="${producto.nombreProducto}" />
						</select>
						<ul  id="listidS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.idProducto}"></li>
							</ul>
						
						<ul  id="listnameS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.nombreProducto}"></li>
							</ul>
							<ul  id="listPrecioS" style="display: none;">
								<li th:each="producto:${listProsnack}" th:text="${producto.precioProducto}"></li>
							</ul>
					</div>

					<table id="tablesnack">
					</table>

					

				</div>
					<div><textarea name="observacion"></textarea></div>
				<div id="botones">
					
						<button type="button" id="borrar">Borrar</button>
						<button type="button" id="eraseAll" onclick="eraseall()"> Borrar todo</button>
					<div id="idto">
						<button type="button" id="total" onclick="">Total</button>
						<input  type="number" readonly id="latotal" name="precioTotal" required> </label>
					</div>
						<button type="submit" id="subir" >Guardar</button>
				</div>
			</form>
		</section>
		<aside></aside>
		<footer> </footer>
	</div>
	<footer>
        <h3>Foolish Developer</h3>
        <p>The "Sugar Cafe" is a trade association built on foundations of openness,
            inclusivity, and the power of shared knowledge. 
        </p>
        <p>copyright &copy;2021 Coffee Sugar Bogota  </p>
    </footer>
	<script src="js/funcionVentas.js"></script>

</body>

</html>