<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" th:href="@{/styles/estilosInventario.css}">   
    <script src="./js/funcioninventario"></script>
</head>

<body onload='onchar()'>
    <header>
        <div class="logo">
          <a href="/index"><img th:src="@{/images/logo.jpg}" alt="Logo de la empresa"></a>
        </div>
        <h1>Gestion</h1>
        <nav>
          <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/venta">Ventas</a></li>
            <li><a href="/closeSession">Salir</a></li>
          </ul>
        </nav>
      </header>
 
    <section>
        <ul id="fhather">

            <a  href="/venta"><li id="listVenta" class="ilc" >Ventas </br>
                <img src="./images/venta.png" alt="" class="icon">
            </li></a>

            <a  href="/listProveedor"><li id="proveedor" class="ilc" >Proveedores </br>
                <img src="./images/supplier.png" alt="" class="icon">
            </li></a>

            <a href="/listInsumo"><li id="insumo" class="ilc" >Ingreso de insumos </br>
                <img src="./images/coffeepops.png" alt="" class="icon">
            </li></a>
            
            <a href="/listProducto"><li id="product" class="ilc" >Productos </br>
                <img src="./images/coffee.png" alt="" class="icon">
            </li></a>

            <a href="/listIDiario"><li id="invdiario" class="ilc" >Inventario diario </br>
                <img src="./images/inventoryimg.png" alt="" class="icon">
            </li></a>
            
            <a href="/listReporte"><li id="reporte" class="ilc" >Reportes </br>
                <img src="./images/reports.png" alt="" class="icon">
            </li></a>
            
            <a href="/listUsuario"><li id="newuser" class="ilc" > Usuarios </br>
                <img src="./images/user.png" alt="" class="icon">
            </li></a>
            
            <a href="/listDevolucione"><li id="devolucion" class="ilc" >Devoluciones </br>
                <img src="./images/returns.png" alt="" class="icon">
            </li></a>
             
            <a href="/listCliente"><li id="cliente" class="ilc" >Clientes </br>
                <img src="./images/customer.png" alt="" class="icon">
            </li></a>
            
            <a href="listOtros"><li id="otro" class="ilc" >Otros </br>
                <img src="./images/configuratios.png" alt="" class="icon">
            </li></a>
        </ul>
    </section>

    <footer>
        <h3>Foolish Developer</h3>
        <p>The "Sugar Cafe" is a trade association built on foundations of openness,
            inclusivity, and the power of shared knowledge. 
        </p>
        <p>copyright &copy;2021 Coffee Sugar Bogota  </p>
    </footer>
</body>

</html>