<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>inventario diario</title>
</head>
<body>
<form action="" class="firma" index="2">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto:</p> <input type="number">
            <p>Producto:</p> <input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">
            <p>Producto: </p><input type="number">

        </form>
</body>
</html>