<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
<script th:src="@{/js/toEditAll.js}"></script>
</head>
<body onload="editarUsuario()">
<h1>Usuario nuevo</h1>
 <form action="" class="firma" method="post" th:object="${usuario}" th:action="@{/listUsuario}">
 			<p> id.: </p> <input type="number" name="idUsuario" id="idUsuario"></br>
            <p> Nombre: </p><input type="text" name="nombreUsuario" id="nombreUsuario">   </br>        
            
            <label for="">Seleccione el rol:</label>
            <select  class="form-control" th:object="${rol}" name="rol">
				<option th:each="rol:${listRol}" th:value="${rol.idRol}" th:text="${rol.rolName}" />
			</select>
            
            <p> Fecha de nacimiento: </p> <input type="date" name="fechaNacimientoUsuario"></br>
            <p> Correo:</p> <input type="text" name="correoUsuario" id="correoUsuario"></br>
            <p> Numero:</p> <input type="text" name="numeroUsuario" id="numeroUsuario"></br>
            <p> Direccion:</p> <input type="text" name="direccionUsuario" id="direccionUsuario"></br>
            <p> contrasena:</p> <input type="password" name="contrasenaUsuario" id="contrasenaUsuario"></br>
            <p> Descripcion:</p> <input type="text" name="descripcionUsuario" id="descripcionUsuario"></br>
			<button type="submit">Guardar</button>
        </form>
       
<h2>Lista de usuarios</h2>			
			<br />
			<table border="1" id="tablaUsuario">
				<thead>
					<tr>
						<th>idUsuario</th>
						<th>nombreUsuario</th>
						<th>Rol</th>
						<th>fechaNacimientoUsuario</th>
						<th>Correo</th>
						<th>Numero</th>
						<th>Direccion</th>
						<th>descripcion</th>
						<th>Acciones</th>
					</tr>
				</thead>
				
				 <tbody>
					<tr th:each="usuario : ${listUsuario}">
						<td th:text="${usuario.idUsuario}"></td>
						<td th:text="${usuario.nombreUsuario}"></td>
						<td th:text="${usuario.rol.rolName}"></td>
						<td th:text="${usuario.fechaNacimientoUsuario}"></td>
						<td th:text="${usuario.correoUsuario}"></td>
						<td th:text="${usuario.numeroUsuario}"></td>
						<td th:text="${usuario.direccionUsuario}"></td>
						<td th:text="${usuario.descripcionUsuario}"></td>
						<td> 
							<button type="button" class="btnEditar" >Editar</button>
							<a th:href="@{/usuario/{id}/delete(id=${usuario.idUsuario})}" class="delete">Delete</a>
						 </td>
							
					</tr>
					
				</tbody>
			</table>

</body>
</html>