<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Proveedores</title>
<script th:src="@{/js/toEditAll.js}"></script>
</head>
<body onload="editarProveedor()">
<h1> Proveedor nuevo</h1>

<div>


	<div align="center">
	 <form th:action="@{/listProveedor}" th:object="${proveedor}" method="post" >
        	<p> id.:</p> <input name="idProveedor" type="number" id="idProveedor" required placeholder="id del proveedor">
            <p> Proveedor/Razon social: </p> <input type="text" name="razonSocial" id="razonSocial" required>
            <p> Nombre contacto: </p> <input type="text"  name="nombreContacto" id="nombreContacto" required>
            <p> Fecha de creacion: </p> <input type="date"  name="fechaCreacionPr" required>
            <p> Correo: </p> <input type="email"  name="correoProveedor" id="correoProveedor" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
            <p> Celular: </p> <input type="number"  name="numeroProveedorP" id="numeroProveedorP" required>           
            <p> Direccion: </p> <input type="text"  name="direccionProveedor" id="direccionProveedor" required>
            <p> Productos: </p> <input type="text" name="productosProveedor" >
            <button type="submit">Guardar</button>
        </form>
			
		<h2>Listado de proveedores</h2>	
			
			<br />
			<table border="1" id="tablaProveedor">
				<thead>
					<tr>
						<th>NIT Proveedor</th>
						<th>Razon social</th>
						<th>Nombre contacto</th>
						<th>Fecha creacion</th>
						<th>Correo</th>
						<th>Numero</th>
						<th>Direccion</th>
						<th>Productos</th>
						<th>Acciones</th>
					</tr>
				</thead>
				
				 <tbody>
					<tr th:each="proveedor : ${listProveedor}">
						<td th:text="${proveedor.idProveedor}"></td>
						<td th:text="${proveedor.razonSocial}"></td>
						<td th:text="${proveedor.nombreContacto}"></td>
						<td th:text="${proveedor.fechaCreacionPr}"></td>
						<td th:text="${proveedor.correoProveedor}"></td>
						<td th:text="${proveedor.numeroProveedorP}"></td>
						<td th:text="${proveedor.direccionProveedor}"></td>
						<td th:text="${proveedor.productosProveedor}">c</td>
						<td> 
							<button type="button" class="btnEditar" >Editar</button>
							<a th:href="@{/proveedor/{id}/delete(id=${proveedor.idProveedor})}" class="delete">Delete</a> 
							
					</tr>
					
				</tbody>
			</table>
			
		</div>

	</div>

</body>
</html>