<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



	<form action="" class="firma" method="post" th:object="${proveedor}" th:action="@{/listUsuario}">
		
		<select  class="form-control">
			<option th:each="proveedor : ${listProveedor}" th:value="${proveedor.idProveedor}"
				th:text="${proveedor.idProveedor}" />
		</select>

		<p>Otros:</p>
		<input type="text">
	</form>
</body>
</html>

<!--th:field="*{proveedor}"  -->