<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clientes</title>
<script th:src="@{/js/toEditAll.js}"></script>
</head>
<body onload="editarCliente()">
<h1>Cliente nuevo</h1>
		<form action="" class="firma" method="post" th:object="${cliente}" th:action="@{/listCliente}">
            <p> id Cliente:</p> <input type="number" name="idCliente" id="idCliente" required placeholder="id del cliente" minlength="4">
            <p> Nombre: </p> <input type="text" name="nombreCliente" id="nombreCliente" required minlength="4">
            <p> Celular: </p> <input type="number" name="telefonoCliente" id="telefonoCliente" required minlength="7">
            <p> Correo:</p> <input type="email" name="correoCliente" id="correoCliente" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
            <p>Direccion:</p> <input type="text" name="direccionCliente" id="direccionCliente" required>
            <p> Fecha de nacimiento:</p> <input type="date" id="" name="fechaNacimientoCliente" required>
            <p><button type="submit">Guardar</button></p>
        </form>
        
        <h2>Lista de clientes</h2>
        
        <table border="1" id="tablaCliente">
				<thead>
					<tr>
						<th> id Cliente</th>
						<th> Nombre: </th>
						<th>Celular:</th>
						<th>Correo:</th>
						<th>Direccion:</th>
						<th>Fecha de nacimiento:</th>
						<th>Acciones</th>
					</tr>
				</thead>
				
				 <tbody>
					<tr th:each="cliente : ${listCliente}">
						 <td th:text="${cliente.idCliente}"></td>
						<td th:text="${cliente.nombreCliente}"></td>
						<td th:text="${cliente.telefonoCliente}"></td>
						<td th:text="${cliente.correoCliente}"></td>
						<td th:text="${cliente.direccionCliente}"></td>
						<td th:text="${cliente.fechaNacimientoCliente}"></td>
						<td> 
							<button type="button" class="btnEditar" >Editar</button>
							<a th:href="@{/cliente/{id}/delete(id=${cliente.idCliente})}" class="delete">Delete</a> 
							
					</tr>
					
				</tbody>
			</table>

</body>
</html>