body {
	margin: 0;
	padding-top: 5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
  background-image: url("../images/transBack.jpg");
  background-size:cover ;
  background-attachment: fixed;
  position: relative;
}
/* ----------------------------------------------------------HEADER-------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6em;
  background-color: #c2bebe;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  justify-content:space-between;
}

.logo {
  margin-left: 3em;
  display: flex;
  align-items: center;
  
}

.logo img{
  height: 4em;
}

h1,h2{
  color: #00557F;
  text-align: center;
}

header nav {
  display: flex;
  align-items: center;
  background-color: #c2bebe;
  padding-right: 2em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

header nav li {
  display: inline-block;
  margin-left: 20px;
  
}

header nav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

header nav a:hover {
  background-color: #333;
  color: #fff;
}

/* ----------------------------------------------------------BORRAR TAB-------------------------------------------------------*/

#wrapper{
  width: 60%;
  margin: auto;
}

#bote{
  height: 2.5em;
  width: 35x;
  padding: 3px;
}


#erasetab{
  height: 3em;
  width: 100%;
  background-color: red;
  visibility: hidden;
  text-align: center;
}

/* ----------------------------------------------------------USUARIO-------------------------------------------------------*/

#nomempl{
  color: white;
}

/* ----------------------------------------------------------FECHA-------------------------------------------------------*/

#fecha {
  background-color: #252525;
  color: rgb(226, 226, 224); 
  text-align: center;
  font-size: 1.1em;
  height: auto;
  width: auto;
  border: 1px solid white;
  
}

#dia, #hora{
  padding: 3px;
  margin: 0 3em;

}

/* ----------------------------------------------------------TABS-------------------------------------------------------*/

menu {
  display: flex;
  justify-content: space-around;
 
}

menu nav{
  display:flex;
}

.t-container {
    margin: 0 ;
    padding: 0 ;
    display: inline-block;
    height: 50px;
   
  }
  
  .t-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    display: flex;
    
  }

  .t-tabs li {
    color: #252525;
    padding: 0.5em 0.7em;
    text-decoration: none;
    justify-content: space-around;
    text-align: center;
    font-size: 1.1em;
    background: rgb(116, 113, 113);
    border-bottom: 0;
    min-width: 3%;
    margin-right: 2px;
    margin-bottom: 0 !important;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid rgb(43, 42, 42);
  
    
    
  }

  .t-tabs li:hover {
    background-color: #252525;
    color: rgb(116, 113, 113);
  }

  .t-tabs li.selected {
    color: rgb(231, 228, 228);
    cursor: default;
    background: #252525;
    border: 1px solid white;
  }

  /* ----------------------------------------------------------FORMULARIO-------------------------------------------------------*/

  #formulario{
   visibility: hidden; 
  }

  .t-form {
    padding: 0 1em;
    background-color: #333;
    box-sizing: border-box;   
    color: #eeedea;
    line-height: 1em;
    text-align: justify;
    z-index: 1;
    position: relative;
    max-height: 0; 
    overflow: hidden;
    margin: auto;
  }

  .t-form.selected {
    max-height: 3000px;
    
  }

  .price{
    width: 3em;
    height: 1.5em;
    font-size: 1em;
    border-radius: 5px;
  }

  #content{
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  form div{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  flex-direction: column;
  }

  p{
    margin-bottom: 2px;
    display: block;
    border-bottom:0;
  }
  
  select{
    display: inline;
    height: 3em;
    width: 40%;
    border-radius: 5px;
  }

  option{
    height: 10em;
    margin: 2em;
  }

  .lista{
    text-align: center;
  }

  textarea{
    margin: 1em;
    margin-top: 2px;
    max-height: 6em;
    height: 3em;
    width: 40%;
  }
  
  /* ----------------------------------------------------------botones-------------------------------------------------------*/

  #contentbutton{
    height: 3em;
    display:flex;
    flex-direction:row;
    justify-content: center; 
  }

 button{
  display: block;
  margin: 1em;
 }
  
  /* ----------------------------------------------------------tabla-------------------------------------------------------*/

tr:hover{
    background-color: rgb(119, 118, 123);
    
}

td{
   padding: 3px;
}

table{
    border-collapse: unset;
}

table tr  {
    color: rgb(0, 0, 0);
    cursor: default;
    background: rgb(255, 255, 255);
    position:relative;
  }

  input{
    width: 4em;
  	padding: 0;
  	margin: 0;
  }
  /* ----------------------------------------------------------FOOOTER-------------------------------------------------------*/

  footer{  
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    color: white;
    text-align:center;
    padding-top: 1em;
}

footer h3{
    margin: 0%;
}

footer p{
    background: none;
    margin: 0%;
    padding: 1em;
}
  


  