tr{
    background-color: aqua;
    color: blueviolet;
    padding: 0.2em;
}

tr:hover{
    background-color: rgb(119, 118, 123);
    
}

td{
   padding: 3px;
}

table{
    border-collapse: unset;
}

table tr  {
    color: rgb(0, 0, 0);
    cursor: default;
    background: rgb(255, 255, 255);
  }